
<%= form_for :articulo, class: "form-horizontal", url: articulo_create_path do |f| %>
<section class="contenido" id="home">
  <div class="container">
    <div class="row">
    <div class="row">

      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <%@persona = current_user%>
          <h3>Nuevo articulo de <%= @persona.Usuario %><h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-offset-1">
        <div class="input-group">
          <span class="input-group-addon" style="min-width: 100px;">Titulo</span>
          <%= f.text_field :Titulo, :value => @articulo.Titulo , :placeholder => "Titulo", :class => "form-control" %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon" style="min-width: 100px;">Resumen</span>
          <%= f.text_field :Resumen, :value => @articulo.Resumen , :placeholder => "Resumen", :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>


<div class="row top-buffer">
  <div class="col-md-offset-1">
      <span class="btn btn-file">
        <%= f.file_field :file, multiple: true, :class => "file" %>
      </span>
  </div>
</div>

    <div class="row top-buffer">
      <div class="col-lg-10 col-md-offset-1">
          <%= f.text_area :Contenido, rows: 15, :placeholder => 'Contenido...', class: 'form-control' %>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="text-center">
        <button class="btn btn-info" type="submit">Publicar</button>
      </div>
    </div>
</div>
</section><!-- end of contact section -->

<% end %>
